<h3> Confirm Your Order For <%= @item.name %> </h3>

<%= render "item_info" %>
<%= render "order_info" %>


<%= link_to "Confirm and Pay", @order.paypal_url(item_orders_url(@item), payment_notifications_url) %>

